
* {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(57, 54, 54);
    font-size: 14px;
}
h3 {
    font-size: 35px;
}
.syntax {
    color:#da1331;
    background-color: #f4f4f4;
}
.demo-figure {
    text-align: center;
    border: 3px solid green;
    line-height: 4;
    margin-bottom: 20px;
}
.example {
    background-color: #e5e9ed98;
    padding: 17px;
}
h4 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}
.main {
    background-color: white;
    border-left: green 3px solid;
    padding: 10px;
}



