* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(50, 44, 44);
}
header {
    background-color: hsl(199.39deg 100% 44.9%);

}
header .container:nth-of-type(1) {
    display: flex;
    justify-content: flex-end;
    gap:20px;
    text-align: center;
    margin-right:20px;
}
header .container:nth-of-type(2) {
    display:flex;
    justify-content:space-between;
}
header ul.container {
    display:flex;
    justify-content: flex-start;
}
img{
    width:27px;
    height:27px;
    border-radius: 50%;
}