*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #f0f0f0;
    flex-direction: column;
    height: 105px; 
    width: 800px;
    border: 1px solid black;
    align-items:baseline;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #f0f0f0;
    flex-direction: column;
    height: 105px; 
    width: 800px;
    border: 1px solid black;
    align-items:baseline;
}
.container .child1{
    display: flex;
    
}
.container .child2{
    display: flex;
    
}
.container .child{
    border: 3px solid #f0f0f0;
    border-radius: 5px;
    color: white;
    background-color:#3498db;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.container #childa{
    flex-grow:1;
}.container .child1{
    display: flex;
    
}
.container .child2{
    display: flex;
    
}
.container .child{
    border: 3px solid #f0f0f0;
    border-radius: 5px;
    color: white;
    background-color:#3498db;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.container #childa{
    flex-grow:1;
}