.container {
    background-color: pink;
    display:flex;
    flex-direction: row;
    gap: 20px;
}
.child {
    background-color: hotpink;
    color:rgb(38, 34, 34);
    text-align: center;
    width:25%;
    height:150px;
    line-height: 150px;
    border: 1px solid white;
}
@media screen and (max-width:1024px) {
    .container{
        flex-wrap: wrap;
    }
    .child {
        width: calc(50%-20px);
    }
}